*{
margin: 0;
padding:0;

}


.category-card{
margin:20px;
}
.topic-card{
margin-left:12.5%;
margin-top:20px;
}

.message-card{
margin:20px;
}
.navbar-icon-ul{
margin-bottom:0;
}
.user-rating-table{
margin-left:12%;
}
.gold{
color:orange;
}
.silver{
color:silver;
}
.bronze{
color:#cd7f32;
}