*{
margin: 0;
padding:0;

}


.category-card{
margin:20px;
}
.topic-card{
margin-left:12.5%;
margin-top:20px;
}

.message-card{
margin:20px;
}
.navbar-icon-ul{
margin-bottom:0;
}
.user-rating-table{
margin-left:12.5%;
}
.gold{
color:orange;
}
.silver{
color:silver;
}
.bronze{
color:#cd7f32;
}
.link-unstyled {
  color: inherit;
  text-decoration:none;
}
.title-container{
border-top: 1px solid silver;
border-bottom: 1px solid silver;
background-color:#f9f9f9;
}
.topic_create_block{
padding-top:25px;
padding-bottom:25px;
border-top: 1px solid silver;
}