{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Nure Forum
        {% endblock %}
    </title>


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

    <link href="{% static 'fontawesome-free-5.5.0-web/css/all.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'forumengine/css/styles.css'%}">


    {% block extrahead %}
    {% endblock %}
</head>
<body>
{%block header%}
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'category_list_view'%}">
        <img src="{% static 'forumengine/images/nure_logo.png'%}" width="30" height="30"
             class="d-inline-block align-top" alt="">
        Nure Forum
    </a>
    <div class="navbar-right navbar-icon-container">
        <ul class="list-inline navbar-icon-ul">
            <li class="list-inline-item"><i class="fas fa-sign-in-alt  fa-lg"></i></li>
            <li class="list-inline-item"><i class="fas fa-user-plus  fa-lg"></i></li>
        </ul>
    </div>

</nav>
{%block breadcrumb%}
{%endblock %}
{% endblock %}
{% block content %}
if you see this, you've fucked up
{% endblock %}
{% block pagination %}
{% if is_paginated %}
            <nav aria-label="...">
                <ul class="pagination pagination justify-content-center ">
                    <li class="page-item {%if not prev_url %}disabled{% endif %}">
                        <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
                    </li>


                    {% for n in page_object.paginator.page_range %}
                    {% if page_object.number == n %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{n}} <span class="sr-only">{{n}}</span></a>
                    </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}


                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{n}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <li class="page-item {%if not next_url %}disabled{%endif%}">
                        <a class="page-link" href="{{ next_url }}">Next</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
{%endblock%}
</body>
</html>