{% load users_list_extras%}
{%block content%}
<div class="card message-card">
    <div class="card-header">
        <a href="{{message.author.get_absolute_url}}">{{ message.author }}</a> at {{message.date_of_pub }}
    </div>
    <div class="card-body">
        <p class="card-text">{{message.body}}</p>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-sm-8 mt-1">
                {% if message.rating >= 0 %}
                <i class="fas fa-thumbs-up  fa-lg"></i> <strong>{{message.rating}}</strong>
                {%else%}
                <i class="fas fa-thumbs-up  fa-rotate-180 fa-lg"></i> <strong>{{message.rating}}</strong>
                {%endif%}
            </div>
            <div class="col-sm-4 text-right">
                <form action="{% url 'vote_message_url' %}" method="post">
                    {% csrf_token %}

                    <input type="hidden" name="message_id" value="{{ message.message_id }}">
                    <input type="hidden" name="slug" value="{{ message.topic.slug}}">
                    <input type="hidden" name="page" value="{{ page_object.number }}">
                    <div class="btn-group" role="group" aria-label="Basic example">

                        {% if request.user.is_authenticated and not voted|hash:message.message_id%}
                            <button type="submit" class="btn btn-success btn-sm" name="plus" value="1">
                                &nbsp;<strong>+</strong>&nbsp
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" name="minus" value="1">
                                &nbsp;<strong>–</strong>&nbsp
                            </button>
                        {%elif request.user.is_authenticated and voted|hash:message.message_id %}
                            <button type="submit" class="btn btn-success btn-sm" name="plus" value="1" disabled>
                                &nbsp;<strong>+</strong>&nbsp
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" name="minus" value="1" disabled>
                                &nbsp;<strong>–</strong>&nbsp
                            </button>
                        {%endif%}
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
{%endblock%}